<h1>Réinitialisation de votre mot de passe</h1>

<p>Bonjour,</p>

<p>
    Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
</p>

<p>
    <a href="{{ url('app_reset_password', {token: resetToken.token}) }}">
        {{ url('app_reset_password', {token: resetToken.token}) }}
    </a>
</p>

<p>
    Ce lien expirera dans
    {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
</p>

<p>
    Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.
</p>

<p>
    Cordialement,<br>
    Hotel Reservation
</p>